// Custom styling
// 
// Include the file _sass/_custom.scss to your site to add custom styling

.publication {
  margin-bottom: $grid-gutter-width;
}

.pemph {
  background-color: #f57e3a;
}

.text-conf {
  color: #555555;
}
