// Team members

.team-member {
  margin-bottom: $grid-gutter-width;

  // Image container
  .flex-shrink-0 {
    width: 160;

    img {
      height: 160px;
      width: 160px;
      border: 3px solid $gray-200;
      border-radius: 20px;
    }
  }

  .orcid {
    height: 16px;
    width: 16px;
    margin-top: -3px;
  }
}
