---
---

h2 {
  margin-top: 0em !important;
}

.gallery-section p {
  margin-bottom: 0.5em;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  // gap: 1em;
  // justify-content: center;
}

.gallery-thumbnail {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.modal-content {
  background: transparent;
  border: none;
}

.modal-body {
  text-align: center;
  padding: 0;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-open {
  padding-right: 0 !important;
}

.img-limit-height {
  max-height: 90vh;
}

// Make the modal image as wide as the page's main content container.
.modal-dialog.modal-lg {
  width: 100%;
}

@media (min-width: 576px) {
  .modal-dialog.modal-lg { max-width: 540px; }
}
@media (min-width: 768px) {
  .modal-dialog.modal-lg { max-width: 720px; }
}
@media (min-width: 992px) {
  .modal-dialog.modal-lg { max-width: 960px; }
}
@media (min-width: 1200px) {
  .modal-dialog.modal-lg { max-width: 1140px; }
}
@media (min-width: 1400px) {
  .modal-dialog.modal-lg { max-width: 1320px; }
}

.gallery-container a {
  width: calc(33.333%);
  padding: 0.5%;
  outline: none;
}
